@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
}

.header_msg {
  display: inline-block;
  animation: vibrate 0.5s infinite;
}
@keyframes vibrate {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-1px);
  }
  100% {
    transform: translateX(0);
  }
}
.weather_card {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
